@import "normalize";

:root {
    --primary-color: #2E709E;
    --link-on-primary-color: #FDF157;
    --link-color: #DA320A;
    --blockquote-background: #F2FBFD;
}

body {
    @media (max-width: 768px) {
        font-size: 0.75em;
    }

    > nav {
        padding: 1em;
        border-top: 0.2em solid var(--primary-color);
        display: flex;
        align-items: center;
        background-color: #fff;
        height: 2.3em;
    }
}

h1,h2,h3 {
    padding-top: 1em;
    font-weight: 400;
    position: relative;
}

body {
    font-family: Cantarell, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    min-width: 300px;
    flex-direction: column;
}

a.branding {
    display: flex;
    align-items: center;
    font-weight: 600;
    height: inherit;
    padding-left: 1em;
}

.branding > span {
    padding-left: 1em;
}

nav > :not(:first-child) {
    margin-left: 1em;
}

nav > * {
    margin: 0.1em 0em;
}

nav a {
    color: #000;
    text-decoration: none;
    font-weight: normal;
}

nav a img {
    max-height: 100%;
}

nav a:hover {
    color: var(--primary-color);
}

div.center-vert {
    display: flex;
    justify-content: center;
}

div.equation {
    margin: auto;
}

.blog-list {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;

    time {
        font-family: monospace;
    }
}

.blog-list article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-list a {
    color: var(--primary-color);
}

.blog-list li small {
    padding-left: 1em;
}

.hero-image {
    width: 300px;
    max-width: 30vw;
    flex-shrink: 0;
}

.hero {
    line-height: 1.5;
    z-index: 30;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - 4.3em - 0.2em);
    background-color: var(--primary-color);
    overflow-x: hidden;
    padding: 0 40px;
    flex-wrap: wrap;
    align-content: center;

    a {
        color: var(--link-on-primary-color);
        font-weight: bold;
    }

    h1 {
        padding-top: 0;
        margin-top: 0;
    }

    > * {
        padding: 1em;
    }

    > div {
        max-width: 45em;
    }
}

body {
    > main {
        flex: 1;
        margin: 0 auto;
        width: 43em;
        padding: 1em 0.1em;
        @media (max-width: 768px) {
            width: 95vw;
            padding: 1em 1.3em;
        }
        background-color: #fff;
        line-height: 1.5;
        box-sizing: border-box;
    }

    > footer {
        @media (max-width: 768px) {
            padding: 1em 1.4em;
        }
        padding: 2em 4em 2em;

        background-color: var(--primary-color);
        color: #fff;
        a {
            color: var(--link-on-primary-color);
            font-weight: bold;
            text-decoration: underline;
        }
    }
}

code {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eee;
    padding: 1px 3px;
    font-size: 0.8em;
}

main h1 {
    line-height: 1em;
}

a {
    color: var(--link-color);
    font-weight: 600;
}

ol,ul {
    padding-left: 1.8em;
}

blockquote {
    border-left-color: var(--primary-color);
    border-left-style: solid;
    background-color: var(--blockquote-background);
    margin: 0 0;
    padding: 0.1em 1em;
}

pre code {
    overflow-x: auto;
    display: block;
}

.anchor {
    opacity: 0;
    position: absolute;
    text-decoration: none;
    color: var(--primary-color);
    padding-left: 0.5em;
    font-weight: initial;
}

:hover > .anchor {
    opacity: 1;
}

.pagination {
    display: flex;
    justify-content: space-between;
    a {
        color: var(--link-color);
        font-weight: 600;
        text-decoration: underline;
    }
}
