{% extends "page.html" %}

{% block main %}
{% if page.toc %}
<aside>
    <h1>Table of contents</h1>

    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</aside>
{% endif %}
<article>
<header>
<h1>{{ page.title }}</h1>
<p>Written by {{ page.extra.author }}</p>
<p>Published on <time datetime="{{ page.date }}">{{ page.date | date(format="%B %-d, %Y") }}</time></p>
</header>
{{ page.content | safe }}
</article>
{% endblock main %}
