{% extends "page.html" %}

{% block extra_css %}
{% set css_path = page.path ~ "style.css" %}
{% set extra_css = load_data(path=css_path, required=false) %}
{% if extra_css %}
<style type="text/css">
{{ extra_css | safe }}
</style>
{% endif %}
{% endblock extra_css %}

{% block main %}
{% if page.toc %}
<aside>
    <h1>Table of contents</h1>

    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="#{{ h1.id | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="#{{ h2.id | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</aside>
{% endif %}
<article>
<header>
<h1>{{ page.title }}</h1>
<p>Published on <time datetime="{{ page.date }}">{{ page.date | date(format="%B %-d, %Y") }}</time></p>
</header>
{{ page.content | safe }}
</article>
{% endblock main %}
