<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    <meta name="author" content="{{ config.extra.author.name }}">
    {% if current_url %}
        <link rel="canonical" href="{{ current_url | safe }}" />
    {% endif %}
    <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}"/>
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
</head>
<body>
    <nav>
        <a class="branding" href="{{ config.base_url | safe }}">
            <img src="{{ get_url(path=config.extra.branding_logo_path) | safe }}" alt="branding-logo" style="width:4em;">
            <span>{{ config.title }}</span>
        </a>

        {% for item in config.extra.menu %}
        <a href="{{ item.url | safe }}">{{ item.name }}</a>
        {% endfor %}
    </nav>

    {% block toc_aside %}{% endblock toc_aside %}

    {% block hero %}{% endblock hero %}

    <main>{% block main %}{% endblock main %}</main>

    {% block footer %}
    <footer>
        <small>
            Copyright &copy; <time datetime="2021">2021</time> {{ config.extra.author.name }}. All rights reserved.
        </small>
        <br>
        <small>
            Built with <a href="https://www.getzola.org">Zola</a>. Theme available at <a href="https://forge-theme.wingelaar.be">Forge</a>.
        </small>
    </footer>
    {% endblock footer %}

    {% if page.extra.katex or section.extra.katex or config.extra.katex %}
    {% include "katex.html" %}
    {% endif %}
</body>
</html>
